.landingPageCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 7rem;
    gap: 5rem;
  }
  
  .landing-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .landing-heading {
    font-size: 2.5rem;
    font-weight: 700;
    background-size: 300% auto;
  }

  .landing-sub-title {
    font-size: 12px;
  }
   
  .landing-btn {
    width: 25rem;
    padding: 1rem;
    font-size: medium;
    font-weight: 600;
    border: 1px solid;
    border-radius: 5px;
    background: white;
    color: #252525;
    box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25),
      0px 0px 1px 1px rgba(9, 30, 66, 0.13);
  }
  
  .landing-signin-link {
    text-decoration: none;
    color: white;
  }
  
  .landing-btn-link {
    color: #003153;
    text-decoration: none;
  }
 