.App {
  text-align: center;
}

.mainCard {
  display: flex;
}

.middleNavbarCard {
  width: 60vw;
}

.hr {
  width: 10px;
  height: 100%;
  background-color: black;
  border: none;
  margin: 1rem 0;
}